#ddMenu {
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    /* overflow: hidden;
    background-repeat:no-repeat; */
}

#homeButton{
    position: absolute;
    left: 75px;
}

#treeButton{
    position: absolute;
    left: 1000px;
}

#googleButton {
    position: absolute;
    left: 1060px;
}

#ddMenu {
    position: absolute;
    left: 1250px;
}

.menu {
    position: absolute;
    background-image: url("./Main_Heading/DropDownMenu/DropDownBox.png");
    background-position: center;
    background-repeat: repeat;
    top: 75px;
    right: 50px;
}