node_modules
### Backend ignores ###

# Logs

backend/logs
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Runtime
backend/pids
*.pid
*.seed
*.pid.lock

backend/build/Release

backend/jspm_packages/

backend/package-lock.json

backend/db/config/config.json

build

.npm

*.tgz

.env

env.sh