### Backend ignores ###

# Logs

backend/logs
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# Runtime
backend/pids
*.pid
*.seed
*.pid.lock

backend/build/Release

backend/node_modules/
backend/jspm_packages/

backend/package-lock.json

.npm

*.tgz

.env
