#aboutIcon {
    position: absolute;
    left: 42%;
    top: 13%;
}

#projectIcon {
    position: absolute;
    left: 33%;
    top: 24%;
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    /* overflow: hidden;
    background-repeat:no-repeat; */
}

#teamIcon {
    position: absolute;
    left: 53%;
    top: 24%;
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    /* overflow: hidden;
    background-repeat:no-repeat; */
}

p {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #a0a0a0;
}

#aboutLexi {
    position: absolute;
    top: 33%;
    left: 30%;
    right: 20%;
}

#aboutKatie {
    position: absolute;
    text-align: justify;
    top: 61%;
    left: 18%;
    right: 30%;
}

#aboutProject {
    position: absolute;
    text-align: justify;
    top: 35%;
    left: 18%;
    right: 18%;
}

#lexi {
    position: absolute;
    top: 33.5%;
    left: 18%;
}

#katie {
    position: absolute;
    top: 61%;
    right: 18%;
}