#aboutIcon {
    position: absolute;
    left: 42%;
    top: 13%;
}

#projectIcon {
    position: absolute;
    left: 33%;
    top: 24%;
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    /* overflow: hidden;
    background-repeat:no-repeat; */
}

#teamIcon {
    position: absolute;
    left: 53%;
    top: 24%;
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    /* overflow: hidden;
    background-repeat:no-repeat; */
}

p {
    text-indent: 50px;
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: grey;
}

#aboutTeam {
    position: absolute;
    top: 33%;
    left: 20%;
    right: 20%;
}

#aboutProject {
    position: absolute;
    top: 33%;
    left: 20%;
    right: 20%;
}