.feedModal{
  float: left;
  margin-left: 6%;
}

.Modal {
    background-image: url("User_Tree_Page/tabs/tabs/personal.tab.png"), url("User_Tree_Page/tabs/Pop-up_window.png");
    background-size: 88%, 95%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    /* top: 50%,0%;
    left: 50%,7%;
    right: 50%,3%;
    bottom: 50%,2%; */
  }

  .Overlay {
    position: fixed;
    top: 7%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #leafButton {
    position: relative;
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
  }

#modalText {
  margin-top: 10%;
}

#topBranch {
  position: absolute;
  size: 40%;
  top: 8.6%;
  left: 6.1%;
}

#sideBranch {
  float: left;
}

#postText {
  margin-left: 12%;
}

#singleQA {
  overflow: hidden;
  position: relative;
  left: 6%;
}

#profTitle {
  margin-top: 1%;
  text-align: center;
}

#profInfo {
  margin-top: 7%;
}

#closeButton {
  position: relative;
  left: 6%;
}
