.feed {
    /*To support older browsers*/
    height: 100%;
    width: 100%;
  
    /* Set the height to match that of the viewport. */
    height: 100vh;
  
    /* Set the width to match that of the viewport. */
    width: 99vw;

    background-image: url("../css/Feed_Page/Feed_Background.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#feedB {
    position: absolute;
    top: 21px;
    left: 472px;
}

#feedF {
    position: absolute;
    top: 20px;
    left: 475px;
}

#feedLeaf {
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    size: 50%;
}

p {
    font-size: 12pt;
}