.feed {
    /*To support older browsers*/
    height: 100%;
    width: 100%;
  
    /* Set the height to match that of the viewport. */
    height: 100vh;
  
    /* Set the width to match that of the viewport. */
    width: 100vw;

    background-image: url("./Feed_Page/Feed_Heading_Box.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.feedBounds {
    position: absolute;
    top: 24%;
    overflow: hidden;
    left: 3%;
}

#feedB {
    position: absolute;
    top: 3.4%;
    left: 35%;
}

#feedF {
    position: absolute;
    top: 3.2%;
    left: 35.2%;
}

#feedLeaf {
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
}

p {
    text-indent: 0%;
    font-size: 12pt;
    font-family: mr-eaves-modern, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #289228;
    width: 100vw;
    height: 100%;
}

#feedText {
    margin-bottom: 2%;
}