.feed {
    /*To support older browsers*/
    height: 100%;
    width: 100%;
  
    /* Set the height to match that of the viewport. */
    height: 100vh;
  
    /* Set the width to match that of the viewport. */
    width: 100vw;

    background-image: url("./Feed_Page/Feed_Heading_Box.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.feedBounds {
    position: absolute;
    top: 22%;
    overflow: hidden;
}

#feedB {
    position: absolute;
    top: 3.4%;
    left: 35%;
}

#feedF {
    position: absolute;
    top: 3.2%;
    left: 35.2%;
}

#feedLeaf {
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    size: 50%;
}

p {
    font-size: 12pt;
    font-family: mr-eaves-modern, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #2b522b;
    width: 100%;
    float: left;
}