#ddMenu {
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
    /* overflow: hidden;
    background-repeat:no-repeat; */
}

#homeButton{
    position: absolute;
    top: 1.5%;
    left: 5%;
}

#treeButton{
    position: absolute;
    top: 1%;
    right: 23%;
}

#googleButton {
    position: absolute;
    right: 8.5%;
    top: 1%;
}

#ddMenu {
    position: absolute;
    right: 5%;
    top: 1.5%;
}

#adminLink {
    position: absolute;
    left: 50%;
}

.menu {
    position: absolute;
    background-image: url("./Main_Heading/DropDownMenu/DropDownBox.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 8%;
    right: 6%;
}