#privacyIcon {
    position: absolute;
    left: 40%;
    top: 13%;
}

p {
    text-indent: 50px;
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: grey;
}

#privacyText {
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
}