 .home {
  /*To support older browsers*/
  height: 100%;
  width: 100%;
  
  /* Set the height to match that of the viewport. */
  height: 100vh;

  /* Set the width to match that of the viewport. */
  width: 100vw;    
     
  background-image: url("Home_Page/Logo.png");
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: center;
  background-position-y: 32%;  
} 

#motto {
  position: absolute;
  left: 25.5%;
  bottom: 9%;
}

#leaf1 {
  position: absolute;
  right: 15.25%;
  bottom: 14%;
}
#leaf2 {
  position: absolute;
  right: 13%;
  bottom: 5%;
}
#leaf3 {
  position: absolute;
  right: 19.5%;
  bottom: 3%;
}
#leaf4 {
  position: absolute;
  left: 18.4%;
  bottom: 6%;
}
#leaf5 {
  position: absolute;
  left: 14.6%;
  bottom: 17.5%;
}
#leaf6 {
  position: absolute;
  left: 11%;
  bottom: 3%;
}