.Modal {
    position: absolute;
    top: 0%;
    left: 7%;
    right: 3%;
    bottom: 2%;
    background-image: url("User_Tree_Page/tabs/Pop-up_window.png");
    background-size: 95%;
    background-repeat: no-repeat;
  }

  .Overlay {
    position: fixed;
    top: 7%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #editButton {
    position: absolute;
    right: 25%;
    bottom: 30%;
    background-color: transparent;
    cursor:pointer;
    border: none;
    outline: none;
  }

  #userInputContents {
    position: absolute;
    left: 7%;
    top: 25%;
  }

  #xButton {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border: none;
    right: 5%;
    top: 3%
  }

  .rootsButton {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12pt;
    color: #0b7a7a;
    border-radius: 8px;
    bottom: 3%;
    left: 19%;
  }

  .rootsButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .branchesButton {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12pt;
    color: #0b7a7a;
    border-radius: 8px;
    bottom: 3%;
    left: 45.5%;
  }

  .branchesButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .personalButton {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12pt;
    color: #0b7a7a;
    border-radius: 8px;
    bottom: 3%;
    right: 20%;
  }

  .personalButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  #save {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 42%;
    top: 62%;
  }

  #prefName {
    position: absolute;
    left: 12%;
    top: 12%;
  }

  #note {
    position: absolute;
    left: 10%;
    top: 80%;
  }

  #nameForm {
    position: absolute;
    left: 43.5%;
    top: 50%;
  }